<h1>{{item}}</h1>

<form class="" action="/edit/{{item}}" method="post">
  <p><label>Make Your Edit, Then Press The Button:</label></p>
  <input type="text" name="name" value="">
  <input type="submit"  value="Edit">

</form>
