<li><li><h1>bet you didnt thin<li>k it was gonna crazy</li> here too,<hr> I misused some li elements as well<hr>And it gets realconfusingli </li><li> with all the worrds</li> out of plllapalcae</h1></li>
{{item}}
<li> <form class="" action="/edit/{{item}}" method="post">
   <input type="text" name="name" value="{{item}}">
   <input type="submit" value="Submit">

 </form>
</li>
</li>
