<h1> So you want somethin' a li'l bit different than {{item}}, huh? </h1>

<div>
  <h4>That's cool.</h4>
<form class="" action="/edit/{{item}}/modify" method="post">
  <input type="text" name="replacement" placeholder="Whatchuwant?">
  <input type="submit" name="name" value="Change it!">
</form>
<div>
