<ul style="list-style-type: none;">
{{#list}}
  <li>
{{this}}
<form action="../delete/{{this}}" method="post">
  <input type="submit" value="Delete item">
  <a href="/edit/{{this}}">Edit Item</a>
</form>
</li>
{{/list}}
</ul>

{{#if error}}
{{error}}
{{/if}}

<form action="/add" method="post">
  <label for="add">Grocery Item</label>
  <input id="add" type="text" name="name" placeholder="item" value="">
<input type="submit" value="Add stuff">
</form>
