body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #f1f1f1;
}
a {
  color: #00B7FF;
}
form {
  background-color: rgba(20, 20, 20, .5);
  font: white;
  font-family: 16px cursive white;
  text-align: center;
  display: inline-block;
}
ul {
  background-color: rgba(20, 20, 20, .8);
  border-radius: 15px;
}
p {
  color: white;
}
.sad {
  border-radius: 15px;
  color: silver;
  background-color: rgba(20, 20, 20, .7);
}
input:hover, input:hover a {
  background-color: dodgerblue;
  color: black;
  border: 2px dashed gold;
  border-radius: 15px;
}
li {
  border-style: solid;
  border-width: 1px;
  display: inline-block;
  width: 100px;
  height: 100px;
  background-color: #0000FF;
  -webkit-transition: width 2s, height 2s, background-color 2s, -webkit-transform 2s;
  transition: width 2s, height 2s, background-color 2s, transform 2s;
}
li:hover {
  background-color: rgba(20,100,80,.6);
  color: black;
  width: 200px;
  height: 200px;
  -webkit-transform: rotate(360deg);
  transform: rotate(720deg);
}
h1 {
  text-align: center;
  color: rgba(60, 20, 40, .8);
  font-size: 2em;
  font-weight: bold;
  font-family: Helvetica;
  text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, .1), 0 0 5px rgba(0, 0, 0, .1), 0 1px 3px rgba(0, 0, 0, .3), 0 3px 5px rgba(0, 0, 0, .2), 0 5px 10px rgba(0, 0, 0, .25), 0 10px 10px rgba(0, 0, 0, .2), 0 20px 20px rgba(0, 0, 0, .15);
}
